/***************************************
Body
***************************************/

body {
  background-color: #F5F0DF;

}

body {
    font-family: 'Marcellus SC', sans-serif;
}

div h3 {
background: #F5F0DF;
text-align: center;    
}

/****************************************
Heading
****************************************/

header {
    background: #F5F0DF;
    text-align: center;
}



/***************************************
Navigation
***************************************/


nav a, a:link {
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 3px 3px #000;
        
}

nav li {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 2px 3px 3px 3px #C4C1B9;
    background: radial-gradient(#21180f, #63452D, #f5f0DF);
}

nav ul{
    font-size: 25px;
    color: #21180F;
}

nav a:hover {
    color: #9DC7A3;
}




/****************************************
Links
****************************************/

section ul li a {
    color: #21180F  
}






/***********************************************
About Links
***********************************************/


/*****************************************
Footer
*****************************************/

footer {
    color: #21180F;
    text-align: center;
    position: relative;
    margin-top: 300px;
    clear: both;
}



















