/***************************************
Body
***************************************/

body {
  background-color: #F5F0DF;

}

body {
    font-family: 'Marcellus SC', sans-serif;
}

div {
background: #F5F0DF
}

/****************************************
Heading
****************************************/

header {
    background: #F5F0DF;
    text-align: center;
}





/***************************************
Navigation
***************************************/


nav a, a:link {
    text-align: center;
    color: #21180F;
    text-decoration: none
        
}

nav li {
    display: inline-block;
    padding: 0px 70px 0px 70px;
}

nav ul{
    font-size: 25px;
    color: #21180F;
}

nav a:hover {
    color: #9DC7A3;
}




/****************************************
Links
****************************************/

section ul li a {
    color: #21180F  
}







/*****************************************
Footer
*****************************************/

footer {
    color: #21180F;
    text-align: center;
}



















