/*************************************
Index.html
*************************************/
.start_here {
    height: 85%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px 15px #888;
    margin-top: 35px;
}

.intro { 
    position: absolute; 
    top: 200px; 
    left: 10%; 
    width: 100%; 
    color: #FCF7EB;
    font-size: 40px;
    text-shadow: 3px 2px #818579;
}

/***************************************
About
***************************************/

.about_image {
    height: 400px;
    float: right;
    margin-top: 35px;
    margin-bottom: 50px;
}

}

section {
    background: #F5F0DF;
    
}

h3 {
    font-size: 2em;
    
}

.description {
    font-size: 1.3em;
    margin-left: 10%;
    margin-right: 10%;
    
}



/****************************************
Slideshow Images
****************************************/

li {
    display: inline;
}

ul img{
    height: 100px;
    vertical-align: top;
    margin: 10px 20px 15px 20px;
    padding: 10px;
    background: #fff
}

.img_background {
    background: #21180F;
}


#overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 600%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    
}

#overlay img {
    height: 55%;
    margin-top: 10%;
    box-shadow:0 0 50px #fff;
    position: fixed;
    margin-left: -300px;
}

#overlay p {
    color: #fff;
    margin-top: 500px;
    position: fixed;
    margin-left: 300px;
    font-size: 2.3em;
    
}




/*******************************************
Contact Page
*******************************************/

.contact {
    font-size: 1.3em;
}

.phone1 a, 
.phone2 a,
.mail a {
    color: #21180F;
    text-shadow: none;
    display: flex;
    margin-left: 50px;
    margin-bottom: 15px;
    padding-left: 15px;
}



i {
    float: left;
    margin-left: 120px;
}

li.phone1, 
li.phone2,
li.mail {
    display: block;

}

/*******************************
    Legal
*******************************/

.legal {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5em;
}
